@page
@using System.Text;
@using System.Net;
@using System.Net.WebSockets;
@using System.Threading;
@using System.IO;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @{
        byte[] buffer = null;
        string url = $"wss://{HttpContext.Request.Host}{HttpContext.Request.Path}ws";
        <p>Host: @url</p>

        void work()
        {
            <script>
                alert("HelloWorld");
            </script>
        }

        //*
        try
        {
            ClientWebSocket client = new ClientWebSocket();
            await client.ConnectAsync(new Uri(url), System.Threading.CancellationToken.None);

            buffer = Encoding.UTF8.GetBytes("Hello World!!!");
            await client.SendAsync(new ArraySegment<byte>(buffer), WebSocketMessageType.Text, true, CancellationToken.None);
            <p>Sent</p>

            await client.ReceiveAsync(new ArraySegment<byte>(buffer), CancellationToken.None);
            <p>Received</p>
            <p>@Encoding.UTF8.GetString(buffer)</p>
        }
        catch (Exception e)
        {
            <h1>@e.GetType().Name</h1> <hr />
            <table style="text-align:left">
                <tr>
                    <th>
                        @e.Message
                    </th>
                </tr>
                @foreach (var part in e.StackTrace.Split(new string[] { "at ", "in " }, StringSplitOptions.RemoveEmptyEntries))
                {
                    <tr>
                        <td>@part</td>
                    </tr>
                }
            </table>
        }
        //*/

    }

</div>
